body{
    letter-spacing: .5px;
    line-height: 1.5;
    font-family: courier-std, monospace;
    font-weight: 400;
    font-style: normal;
}

a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}

img{
    max-width: 100%;
}

.container{
position: relative;
text-align: center;
color: white;
}

.title {
  position: absolute;
  top: 5px;
  left: 16px;
}    

list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.product {
  flex: 1;
  position: relative;
}
.product::after {
  border-bottom: 2px dotted #999;
  content: '';
  position: absolute;
  top: .7rem;
  width: 100%;
  z-index: 0;
}
.product h4 {
  background: #fff;
  display: inline-block;
  padding-right: .5rem;
  position: relative;
  z-index: 1;
}
.prices {
  display: flex;
}
.price {
  padding: 0 .5rem;
}