/* Styles for Project 5*/

body{
    letter-spacing: .5px;
    line-height: 1.5;
    padding: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1{
    color: #800000;

}

img{
    max-width: 100%;
}

ul{
    margin-bottom: 2rem;
}
