body{
    letter-spacing: .5px;
    line-height: 1.5;
    font-family: courier-std, monospace;
    font-weight: 400;
    font-style: normal;
}

a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}

img{
    max-width: 100%;
}

#menu-wrapper{
    padding-left: 100px;
    position: absolute;
    top: 8px;
    right: 16px;
    color: white;
}

.container{
position: relative;
text-align: center;
color: white;
}

.top-left {
  position: absolute;
  top: 5px;
  left: 16px;
}    


li{
    float: left;
    padding-left: 40px;
    list-style-type: none;
}
.about{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 16px;
    text-align: center;
    
}
.menu{
    margin-left: 100px;
    margin-right:100px;
}
.footer{
    background-color: #3e403f; 
    width: 100%;
    color: white;
    margin-top: 100px;
    
    
}
#hayden{
     display: inline-block;
}
#bio{
    display: inline-block;
}

.description{
    font-size: 12px;
}